*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  color: white;
  background-color: brown;
}
h1 {
  font-size: 44px;
  margin-bottom: 50px;
}
h2 {
  font-size: 22px;
}
